.offcanvas {
    transition: transform 0.1s ease-in-out;
    
}

.offcanvas .btn-close {
    filter: invert(1);
}

.offcanvas-header {
    background-color: #351736;
    color: black;
}

.offcanvasBody {
    background-color: #351736;
    color: #C49B46;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    justify-content: center;
}

.shopButton {
    flex: 1;
    margin: 0;
    border: none;
    background-color: #cc00ff;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.shopButton:hover {
    background-color: #cc00ff;
}
